#BACKEND

# Arquivos de configuração sensíveis
**/appsettings.Development.json
**/appsettings.Local.json
**/.env
**/secrets.json

# User secrets do .NET
**/secrets.json

# Pastas e arquivos gerados
**/bin/**
**/obj/**